@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    box-sizing: border-box;
    color: #333;
  }
}

@layer components {
  .btn {
    @apply w-[320px] h-[60px] bg-[#FF7B00] rounded-lg text-white;
  }

  .sideContainer {
    @apply w-[380px] h-full flex flex-col;
  }

  .navToggleBtn {
    @apply h-[40px] px-[24px] bg-white rounded-full flex items-center justify-center shadow-lg hover:bg-primary hover:text-white transition-all cursor-pointer;
  }

  .input {
    @apply h-10 border-[1px] border-solid border-gray-200 px-2 py-1.5 text-sm rounded-md focus:outline-secondary-200;
  }
  .drawBtn {
    @apply w-[120px] h-[40px] inline-block my-10 m-auto bg-[#007bff] text-white rounded-full border-none cursor-pointer absolute right-[40px] z-10;
  }
}

/* 경로 css */
.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.dotOverlay {
  position: relative;
  bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
}
.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.number {
  font-weight: bold;
  color: #ee8a2c;
}
.dotOverlay:after {
  content: "";
  position: absolute;
  margin-left: -6px;
  left: 50%;
  bottom: -8px;
  width: 11px;
  height: 8px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png");
}
.distanceInfo {
  position: relative;
  top: 5px;
  left: 5px;
  list-style: none;
  margin: 0;
}
.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}
